{% extends "dashboard/base.html" %}


{% block extra_static_files %}

    <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-fileupload.min.css" type="text/css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-migrate-1.1.1.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-fileupload.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap-timepicker.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.uniform.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tagsinput.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autogrow-textarea.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/charCount.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/colorpicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/ui.spinner.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/chosen.jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/modernizr.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.slimscroll.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/custom.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/forms.js"></script>
{% endblock %}

{% block page_header %}
    <div class="pageicon"><span class="iconfa-laptop"></span></div>
    <div class="pagetitle">
        <h1>Edit Profile</h1>
    </div>
{% endblock page_header %}
        
{% block main_content %}
    <div class="maincontentinner">
        <div class="row-fluid">
            <div class="span8">
                <form action="{{ request.path }}" class="editprofileform" method="post">
                    {% csrf_token %}
                    <div class="widgetbox personal-information">
                        <h4 class="widgettitle">Personal Information</h4>
                        <div class="widgetcontent">
                            
                            <div class="par">
                                <label for="inputError" class="control-label">Full Name</label>
                                <div class="controls control-group {% if form.full_name.errors %} error {% endif %}">
                                    <input type="text" class="span4" name="full_name" id="id_full_name" placeholder="Full name" value="{{ form.full_name.value|default_if_none:'' }}">
                                    {% if form.full_name.errors %}
                                    <span class="help-inline">Please correct the error</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="par">
                                <label>Gender</label>
                                <span class="field">
                                    <select name="gender" id="id_gender" class="uniformselect span4">
                                        {% for choice in form.gender.field.choices %}
                                        <option value="{{ choice.0 }}" {% if form.gender.value = choice.0 %} selected {% endif %}>{{ choice.1 }}</option>
                                        {% endfor %}
                                    </select>
                                </span>
                            </div>
                            <div class="par">
                                <label for="inputError" class="control-label">Location</label>
                                <div class="controls control-group {% if form.location.errors %}error{% endif %}">
                                    <input type="text" class="span4" name="location" id="id_location" placeholder="Location" value="{{ form.location.value|default_if_none:'' }}">
                                    {% if form.location.errors %}
                                    <span class="help-inline">Please correct the error</span>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="par">
                                <label>Country</label>
                                <span class="field control-group {% if form.country.errors %}error{% endif %}">
                                    <select name="country" id="id_country" class="uniformselect span4">
                                        {% for country in form.country.field.choices %}
                                        <option value="{{ country.0 }}" {% if form.country.value = country.0 %}selected{% endif %}>{{ country.1 }}</option>
                                        {% endfor %}
                                    </select>
                                    {% if form.country.errors %}
                                    <span class="help-inline">Please correct the error</span>
                                    {% endif %}
                                </span>
                            </div>
                            
                            <p>
                                <label>About You:</label>
                                <textarea name="about" id="id_about" class="span8" rows="10">{{ form.about.value|default_if_none:'' }}</textarea>
                            </p>
                        </div>
                    </div>
                                
                    <p>
                        <button type="submit" class="btn btn-primary">Update Profile</button> 
                    </p>
                                
                </form>
            </div><!--span12-->
        </div><!--row-fluid-->
                    
        <div class="footer">
            <div class="footer-left">
                <span>&copy; 2013. Shamcey Admin Template. All Rights Reserved.</span>
            </div>
            <div class="footer-right">
                <span>Designed by: <a href="http://themepixels.com/">ThemePixels</a></span>
            </div>
        </div><!--footer-->
                
    </div><!--maincontentinner-->
{% endblock main_content %}