{% load avatar_tags i18n %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Chat Realtime</title>
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.default.css" type="text/css" />

<link rel="stylesheet" href="{{ STATIC_URL }}css/responsive-tables.css">
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-migrate-1.1.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/modernizr.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.uniform.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/flot/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.autogrow-textarea.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.slimscroll.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/custom.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/angular.min.js"></script>
<style type="text/css">
      .pagination {
        min-width: 50px;
      }
    </style>
{% block extra_static_files %}

{% endblock %}
<script type="text/javascript">
    
    
</script>
</head>

<body>

<div id="mainwrapper" class="mainwrapper">
    
    <div class="header">
        <div class="logo">
            <a href="dashboard.html"><img src="{{ STATIC_URL }}images/logo.png" alt="" /></a>
        </div>
        <div class="headerinner">
            <ul class="headmenu">
                <li class="odd">
                    <a href="{% url "dashboard" %}">
                    <span class="count">1</span>
                    <span class="head-icon head-bar"></span>
                    <span class="headmenu-label">Home</span>
                    </a>
                </li>

                <li class="odd">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="timeline.html#">
                        <span class="count">4</span>
                        <span class="head-icon head-message"></span>
                        <span class="headmenu-label">Messages</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="nav-header">Messages</li>
                        <li><a href="timeline.html"><span class="icon-envelope"></span> New message from <strong>Jack</strong> <small class="muted"> - 19 hours ago</small></a></li>
                        <li><a href="timeline.html"><span class="icon-envelope"></span> New message from <strong>Daniel</strong> <small class="muted"> - 2 days ago</small></a></li>
                        <li><a href="timeline.html"><span class="icon-envelope"></span> New message from <strong>Jane</strong> <small class="muted"> - 3 days ago</small></a></li>
                        <li><a href="timeline.html"><span class="icon-envelope"></span> New message from <strong>Tanya</strong> <small class="muted"> - 1 week ago</small></a></li>
                        <li><a href="timeline.html"><span class="icon-envelope"></span> New message from <strong>Lee</strong> <small class="muted"> - 1 week ago</small></a></li>
                        <li class="viewmore"><a href="{% url "messages" %}">View More Messages</a></li>
                    </ul>
                </li>
                <li>
                    <a class="dropdown-toggle" data-toggle="dropdown" data-target="#">
                    <span class="count">10</span>
                    <span class="head-icon head-event"></span>
                    <span class="headmenu-label">Notifications</span>
                    </a>
                    <ul class="dropdown-menu newusers">
                        <li class="nav-header">New Users</li>
                        <li>
                            <a href="timeline.html">
                                <img src="{{ STATIC_URL }}images/photos/thumb1.png" alt="" class="userthumb" />
                                <strong>Draniem Daamul</strong>
                                <small>April 20, 2013</small>
                            </a>
                        </li>
                        <li>
                            <a href="timeline.html">
                                <img src="{{ STATIC_URL }}images/photos/thumb2.png" alt="" class="userthumb" />
                                <strong>Shamcey Sindilmaca</strong>
                                <small>April 19, 2013</small>
                            </a>
                        </li>
                        <li>
                            <a href="timeline.html">
                                <img src="{{ STATIC_URL }}images/photos/thumb3.png" alt="" class="userthumb" />
                                <strong>Nusja Paul Nawancali</strong>
                                <small>April 19, 2013</small>
                            </a>
                        </li>
                        <li>
                            <a href="timeline.html">
                                <img src="{{ STATIC_URL }}images/photos/thumb4.png" alt="" class="userthumb" />
                                <strong>Rose Cerona</strong>
                                <small>April 18, 2013</small>
                            </a>
                        </li>
                        <li>
                            <a href="timeline.html">
                                <img src="{{ STATIC_URL }}images/photos/thumb5.png" alt="" class="userthumb" />
                                <strong>John Doe</strong>
                                <small>April 16, 2013</small>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="odd">
                    <a href="{% url "browse_people" %}">
                    <span class="count">1</span>
                    <span class="head-icon head-users"></span>
                    <span class="headmenu-label">Browse People</span>
                    </a>
                </li>
                <li class="right">
                    <div class="userloggedinfo">
                        {% avatar user %}
                        <div class="userinfo">
                            <h5>{{ user.profile }}</h5>
                            <ul>
                                <li><a href="{% url "edit_profile" %}">Edit Profile</a></li>
                                <li><a href="timeline.html">Account Settings</a></li>
                                <li><a href="{% url "account_logout" %}">Sign Out</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul><!--headmenu-->
        </div>
    </div>
    

    
    <div class="rightpanel">
        
        <ul class="breadcrumbs">
            <li><a href="dashboard.html"><i class="iconfa-home"></i></a> <span class="separator"></span></li>
            <li>Dashboard</li>
        </ul>
        
        <div class="pageheader">
            {% block page_header %}

            {% endblock %}
        </div><!--pageheader-->
        
        <div class="maincontent">
            {% block main_content %}

            {% endblock %}
        </div><!--maincontent-->
        
    </div><!--rightpanel-->
    
</div><!--mainwrapper-->
</body>
{% block extra_body %}
{% endblock %}
</html>
