{% extends "dashboard/base.html" %}

{% block extra_static_files %}

{% endblock %}

{% block page_header %}
    <form action="http://demo.themepixels.com/webpage/shamcey/results.html" method="post" class="searchbar">
        <input type="text" name="keyword" placeholder="To search type and hit enter..." />
    </form>
    <div class="pageicon"><span class="iconfa-time"></span></div>
    <div class="pagetitle">
        <h5>What's Up People!</h5>
        <h1>Timeline Page</h1>
    </div>
{% endblock %}
        
{% block main_content %}
            <div class="maincontentinner nopadding">
                
                <div class="row-fluid">
                    
                    <div class="span9">
                        
                        <ul class="timelinelist">
                            <li>
                                <div class="tl-icon">
                                    <i class="iconfa-pencil"></i>
                                </div>
                                <div class="tl-post">
                                    <div class="tl-texta">
                                        <textarea id="tapost" class="input-block-level" placeholder="Hey, what's up?"></textarea>
                                    </div>
                                </div><!--tl-post-->
                            </li>
                            <li>
                                <div class="tl-icon">
                                    <i class="iconfa-pencil"></i>
                                </div>
                                <div class="tl-post">
                                    <div class="tl-author">
                                        <div class="tl-thumb"><img src="{{ STATIC_URL }}images/photos/thumb2.png" alt="" /></div>
                                        <h5><a href="timeline.html">Jane Dela Cruz</a> <small>5 minutes ago</small></h5>
                                    </div>
                                    <div class="tl-body">
                                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
                                    </div>
                                    <div class="tl-action">
                                        <a href="timeline.html"><i class="iconfa-heart"></i> Like</a>
                                        <a href="timeline.html"><i class="iconfa-comment"></i> Comment</a>
                                        <a href="timeline.html"><i class="iconfa-share-alt"></i> Share</a>
                                    </div>
                                    <div class="tl-comments">
                                        <ul>
                                            <li>
                                                <div class="c-thumb"><img src="{{ STATIC_URL }}images/photos/thumb2.png" alt="" /></div>
                                                <div class="c-text">
                                                    <h6><a href="timeline.html">Zaham Sindilmac</a> - 16 minutes ago</h6>
                                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="c-thumb"><img src="{{ STATIC_URL }}images/photos/thumb4.png" alt="" /></div>
                                                <div class="c-text">
                                                    <h6><a href="timeline.html">Nusja Nawancali</a> - 20 minutes ago</h6>
                                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="c-thumb"><img src="{{ STATIC_URL }}images/photos/thumb5.png" alt="" /></div>
                                                <div class="c-text">
                                                    <h6><a href="timeline.html">Weno Carasbong</a> - 1 hour ago</h6>
                                                    <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur</p>
                                                </div>
                                            </li>
                                            <li class="c-input">
                                                <div class="c-thumb"><img src="{{ STATIC_URL }}images/photos/thumb5.png" alt="" /></div>
                                                <div class="c-text">
                                                    <input type="text" class="span7" placeholder="Write a comment" />
                                                </div>
                                            </li>
                                            
                                        </ul>
                                    </div>
                                </div><!--tl-post-->
                            </li>
                            <li>
                                <div class="tl-icon">
                                    <i class="iconfa-link"></i>
                                </div>
                                <div class="tl-post">
                                    <div class="tl-author">
                                        <div class="tl-thumb"><img src="{{ STATIC_URL }}images/photos/thumb3.png" alt="" /></div>
                                        <h5><a href="timeline.html">Draniem Daamul</a> <small>1 day ago</small></h5>
                                    </div>
                                    <div class="tl-link">
                                        <div class="linkimg"><a href="timeline.html"><img src="{{ STATIC_URL }}images/image.png" alt="" /></a></div>
                                        <div class="linkdetails">
                                            <h5><a href="timeline.html">Excepteur sint occaecat cupidatat non proident</a></h5>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                        </div>
                                    </div>
                                    <div class="tl-action">
                                        <a href="timeline.html"><i class="iconfa-heart"></i> Like</a>
                                        <a href="timeline.html"><i class="iconfa-comment"></i> Comment</a>
                                        <a href="timeline.html"><i class="iconfa-share-alt"></i> Share</a>
                                    </div>
                                </div><!--tl-post-->
                            </li>
                            <li>
                                <div class="tl-icon">
                                    <i class="iconfa-picture"></i>
                                </div>
                                <div class="tl-post">
                                    <div class="tl-author">
                                        <div class="tl-thumb"><img src="{{ STATIC_URL }}images/photos/thumb3.png" alt="" /></div>
                                        <h5><a href="timeline.html">Draniem Daamul</a> posted a new album <a href="timeline.html">Latest Photos</a><small>1 day ago</small></h5>
                                    </div>
                                    <div class="tl-images">
                                        <ul>
                                            <li><a href="timeline.html"><img src="{{ STATIC_URL }}images/image.png" alt="" /></a></li>
                                            <li><a href="timeline.html"><img src="{{ STATIC_URL }}images/image.png" alt="" /></a></li>
                                            <li><a href="timeline.html"><img src="{{ STATIC_URL }}images/image.png" alt="" /></a></li>
                                            <li><a href="timeline.html"><img src="{{ STATIC_URL }}images/image.png" alt="" /></a></li>
                                        </ul>
                                    </div>
                                    <div class="tl-action">
                                        <a href="timeline.html"><i class="iconfa-heart"></i> Like</a>
                                        <a href="timeline.html"><i class="iconfa-comment"></i> Comment</a>
                                        <a href="timeline.html"><i class="iconfa-share-alt"></i> Share</a>
                                    </div>
                                </div><!--tl-post-->
                            </li>
                            
                        </ul>
                        
                    </div><!--span9-->
                    
                </div><!--row-fluid-->
                
            </div><!--maincontentinner-->
{% endblock %}