<div class="span4">
                <div class="widgetbox profile-photo">
                    <div class="headtitle">    
                        <h4 class="widgettitle">Avatar</h4>
                    </div>
                    <div class="widgetcontent">
                        <div class="profilethumb">
                            {% avatar user %}
                        </div><!--profilethumb-->

                        <div class="fileupload fileupload-new profilethumb" data-provides="fileupload">
                            <div class="input-append">
                                <div class="uneditable-input span2">
                                    <i class="iconfa-file fileupload-exists"></i>
                                    <span class="fileupload-preview"></span>
                                </div>
                                <span class="btn btn-file"><span class="fileupload-new">Select file</span>
                                    <span class="fileupload-exists">Change</span>
                                    <input type="file" /></span>
                                    <a href="forms.html#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                            </div>
                        </div>
                    </div>
                </div>
                <p>
                    <button type="submit" class="btn btn-primary">Update Avatar</button> 
                </p>
            </div>