<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>ChitChat Login</title>
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.default.css" type="text/css" />

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-migrate-1.1.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/modernizr.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/custom.js"></script>
<script type="text/javascript">
    $(function(){
        $('#id_email').focus();
    });
</script>
</head>

<body class="loginpage">

<div class="loginpanel">
    <div class="loginpanelinner">
        {% for message in messages %}
        <div class="alert alert-error">
            <button data-dismiss="alert" class="close" type="button">&times;</button>
            {{ message }}
        </div>
        {% endfor %}

        <form id="login" action="{% url "account_login" %}" autocapitalize="off" method="POST">
            {% csrf_token %}
            {% if form.errors and not form.username.errors and not form.password.errors %}
                <div class="alert alert-error">
                    <button data-dismiss="alert" class="close" type="button">&times;</button>
                    The email and/or password you specified are not correct.
                </div>
            {% endif %}
            <div class="inputwrapper animate1 bounceIn">
                <input type="text" name="email" id="id_email" placeholder="Email" />
                {% if form.email.errors %}
                    <span class="help-inline">{{ form.email.errors }}</span>
                {% endif %}
            </div>
            <div class="inputwrapper animate2 bounceIn">
                <input type="password" name="password" id="id_password" placeholder="Password" />
                {% if form.password.errors %}
                    <span class="help-inline">{{ form.password.errors }}</span>
                {% endif %}
            </div>
            <div class="inputwrapper animate4 bounceIn">
                <div class="pull-right">Not a member? <a href="{% url "account_signup" %}">Sign Up</a></div>
                <label><input type="checkbox" class="remember" name="remember" value="1" /> Keep me sign in</label>
            </div>
            <div class="inputwrapper animate3 bounceIn">
                <button name="submit">Sign In</button>
            </div>
            
            
        </form>
    </div><!--loginpanelinner-->
</div><!--loginpanel-->
</body>
</html>
