<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Chat-Realtime SignUp</title>
<link rel="stylesheet" href="{{ STATIC_URL }}css/style.default.css" type="text/css" />

<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-migrate-1.1.1.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/modernizr.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/custom.js"></script>

</head>

<body class="loginpage">

<div class="regpanel">
    <div class="regpanelinner">
        <div class="pageheader">
            <div class="pageicon"><span class="iconfa-hand-down"></span></div>
            <div class="pagetitle">
                <h5>Your Information</h5>
                <h1>Sign Up</h1>
            </div>
        </div>
        {% if form.non_field_errors %}
        <div class="alert alert-error">
            <button data-dismiss="alert" class="close" type="button">&times;</button>
            {{ message }}
        </div>
        {% endif %}
        <div class="regcontent">
            <form action="{% url "account_signup" %}" autocapitalize="off" method="post" class="stdform">
                {% csrf_token %}
                <h3 class="subtitle">User Information</h3>
                <div class="par control-group">
                    <div class="controls">
                        <input type="text" class="span4" name="email" id="id_email" placeholder="Email" value="{{ form.email.value|default_if_none:"" }}">
                        {% if form.email.errors %}
                            <span class="help-inline">{{ form.email.errors }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="par control-group">
                    <div class="controls">
                        <input type="text" class="span4" id="id_first_name" name="first_name" placeholder="First Name" value="{{ form.first_name.value|default_if_none:"" }}">
                        {% if form.first_name.errors %}
                            <span class="help-inline">{{ form.first_name.errors }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="par control-group">
                    <div class="controls">
                        <input type="text" class="span4" name="last_name" id="id_last_name" placeholder="Last Name" value="{{ form.last_name.value|default_if_none:"" }}">
                        {% if form.last_name.errors %}
                            <span class="help-inline">{{ form.last_name.errors }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="par control-group">
                    <div class="controls">
                        <input type="password" class="span4" name="password" id="id_password" placeholder="Password">
                        {% if form.password.errors %}
                            <span class="help-inline">{{ form.password.errors }}</span>
                        {% endif %}
                    </div>
                </div>

                <div class="par control-group">
                    <div class="controls">
                        <input type="password" class="span4" id="id_password_confirm" name="password_confirm" placeholder="Confirm Password">
                    </div>
                </div>
               <!-- <h3 class="subtitle">Gender</h3>
                <p>
                    <input type="radio" name="gender" checked/> Male &nbsp;&nbsp;
                    <input type="radio" name="gender"/> Female
                </p>-->
                <p><button type="submit" class="btn btn-primary">Register</button></p>
                
            </form>
        
        </div><!--regcontent-->
    </div><!--regpanelinner-->
</div><!--regpanel-->

</body>
<script type="text/javascript">
    $(function(){
        $("#id_email").focus()
    });
</script>
</html>
