{% load emoticons_tags %}
<div id="chatmessage" class="chatmessage">
    <div id="chatmessageinner">
        {% for private_message in private_messages %}
        <p><img src="{{ STATIC_URL }}images/chatthumb.png" alt=""><span class="msgblock radius2">{% ifequal private_message.sender request.user %}<strong>You</strong> {% else %} <strong>{{ private_message.sender.profile }}</strong> {% endifequal %}<span class="time">{{ private_message.received_at }}</span><span class="msg">{{ private_message.content|emoticons }}</span></span></p>
        {% endfor %}
    </div><!--chatmessageinner-->
</div><!--chatmessage-->
                         
<div class="messagebox">
    <span class="inputbox">
        <form method="POST" action="{% url 'send_message' contact.username %}" id="msgform">
        {% csrf_token %}
        <input type="text" id="message_box" name="message" class="input-block-level" placeholder="Type message and hit enter..." />
        </form>
    </span>
</div>
<script type="text/javascript">
jQuery(document).ready(function($){

 $('#msgform').on('submit', function(e){
    e.preventDefault();
    data = $(this).serialize();
    if (data !== ''){
        $.ajax({
            type: "POST",
            url: $(this).attr('action'),
            data: data,
            success: function(data){
                $('#message_box').val('');
            },
            error: function(data){
                alert("Something error!");
            }
        })
    }
 });
});
</script>