{% extends "dashboard/base.html" %}
{% load drealtimetags emoticons_tags %}
{% block extra_static_files %}

{% ishout_js %}
<script type="text/javascript">
</script>
<script type="text/javascript">
jQuery(document).ready(function($){
 ishout.init();
 ishout.on('messagechannel', function(data){
    user = "{{ request.user.id }}";
    var name = (data.sender == user) ? "You" : data.sender_full_name ;
    $('#chatmessageinner').append('<p><img src="{{ STATIC_URL }}images/chatthumb.png" alt=""><span class="msgblock radius2"><strong>' + name + ' </strong> <span class="time">' + data.timestamp +'</span><span class="msg">' + data.msg + '</span></span></p>');
    
 });

 $('.message_user').click(function(e){
    e.preventDefault();
    $.ajax({
        type: "GET",
        url: this.href,
        success: function(resp){
            $('#conversation').html(resp);
        }
    });
    
 });
 
})
</script>

{% endblock %}

{% block page_header %}
            <div class="pageicon"><span class="iconfa-hdd"></span></div>
            <div class="pagetitle">
                <h5>Let's talk</h5>
                <h1>Chat Page</h1>
            </div>
{% endblock page_header %}

{% block main_content %}
            <div class="maincontentinner">
                
                <div class="alert alert-info">Show facebook like chat in every page - <a href="chat.html" id="enablechat">Enable</a></div>
                
                <div class="row-fluid" ng-controller="ChatControllers">
                    <div class="span8 chatcontent" id="conversation">
                        
                        
                        
                    </div><!--span8-->
                    
                    <div class="span4">
                        
                        <div class="widgetbox">                        
                        <div class="headtitle">
                            <h4 class="widgettitle">Online Users (2)</h4>
                        </div>
                        <div class="widgetcontent">
                            <div class="chatsearch">
                               <input type="text" name="" class="input-block-level" placeholder="Search User" />
                            </div>
                            <ul class="chatusers">
                                {% for user in users %}
                                <li class="online new"><a href="{% url 'get_conversation' user.username %}" class="message_user"><img src="{{ STATIC_URL }}images/chatthumb.png" alt="" /> <span>{{ user.profile }}</span></a></li>
                                {% endfor %}
                            </ul>
                        </div><!--widgetcontent-->
                        </div><!--widgetbox-->
                        
                        
                    </div><!--span4-->
                    
                </div><!--row-fluid-->
                
            </div><!--maincontentinner-->
 {% endblock main_content %}