{% extends "dashboard/base.html" %}
{% load avatar_tags i18n %}
{% load pagination_tags %}
{% block extra_static_files %}

<link rel="stylesheet" href="css/responsive-tables.css">
<script type="text/javascript" src="js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="js/jquery-migrate-1.1.1.min.js"></script>
<script type="text/javascript" src="js/jquery-ui-1.10.3.min.js"></script>
<script type="text/javascript" src="js/modernizr.min.js"></script>
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<script type="text/javascript" src="js/jquery.cookie.js"></script>
<script type="text/javascript" src="js/jquery.uniform.min.js"></script>
<script type="text/javascript" src="js/flot/jquery.flot.min.js"></script>
<script type="text/javascript" src="js/flot/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="js/responsive-tables.js"></script>
<script type="text/javascript" src="js/jquery.slimscroll.js"></script>
<script type="text/javascript" src="js/custom.js"></script>

{% endblock %}
{% block page_header %}
            <div class="pageicon"><span class="iconfa-user"></span></div>
            <div class="pagetitle">
                <h5>Contact List</h5>
                <h1>People Directory</h1>
            </div>
{% endblock page_header %}
        
{% block main_content %}
            <div class="maincontentinner">
                
                <div class="peoplelist">
                    <div class="row">
                        {% autopaginate peoples 10 %}
                        {% for people in peoples %}
                        <div class="span6">
                            <div class="peoplewrapper" style="min-height:160px;">
                                <div class="thumb">{% avatar people.user %}</div>
                                <div class="peopleinfo">
                                    <h4>{{ people}} <span class="on"> Online</span></h4>
                                    <ul>
                                        <li><span>Followers:</span> 10 &nbsp;/&nbsp; <span>Following:</span> 21</li>
                                        <li><span>Member:</span> April 2011</li>
                                        <li><span>Skype:</span> @johndoe</li>
                                        <li><span>Phone:</span> +44033 0400 332</li>
                                        <li><span>Address:</span> Something St., Some City, Place 4023</li>
                                    </ul>
                                    <br>
                                    <p>
                                        <a href="{% url 'add_friend' people.user.username %}" class="btn btn-success btn-small"><span class="icon-thumbs-up icon-white"></span> Add Friend</a>
                                    </p>
                                </div><!--peopleinfo-->
                            </div><!--peoplewrapper-->
                        </div><!--span6-->
                        {% endfor %}
                    </div><!--row-fluid-->
                </div><!--peoplelist-->

                <ul class="alphabets">
                    {% paginate %}
                </ul>
                
            </div><!--maincontentinner-->
 {% endblock main_content %}