@font-face {
    font-family: 'RobotoRegular';
    src: url('http://demo.themepixels.com/webpage/shamcey/fonts/roboto/Roboto-Regular-webfont.eot');
    src: url('../fonts/roboto/Roboto-Regular-webfont.eot') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Regular-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoItalic';
    src: url('http://demo.themepixels.com/webpage/shamcey/fonts/roboto/Roboto-Italic-webfont.eot');
    src: url('../fonts/roboto/Roboto-Italic-webfont.eot') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Italic-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Italic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Italic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBold';
    src: url('http://demo.themepixels.com/webpage/shamcey/fonts/roboto/Roboto-Bold-webfont.eot');
    src: url('../fonts/roboto/Roboto-Bold-webfont.eot') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Bold-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldItalic';
    src: url('http://demo.themepixels.com/webpage/shamcey/fonts/roboto/Roboto-BoldItalic-webfont.eot');
    src: url('../fonts/roboto/Roboto-BoldItalic-webfont.eot') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-BoldItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-BoldItalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-BoldItalic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoCondensed';
    src: url('http://demo.themepixels.com/webpage/shamcey/fonts/roboto/Roboto-Condensed-webfont.eot');
    src: url('../fonts/roboto/Roboto-Condensed-webfont.eot') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Condensed-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Condensed-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Condensed-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoCondensedItalic';
    src: url('http://demo.themepixels.com/webpage/shamcey/fonts/roboto/Roboto-CondensedItalic-webfont.eot');
    src: url('../fonts/roboto/Roboto-CondensedItalic-webfont.eot') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-CondensedItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-CondensedItalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-CondensedItalic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldCondensed';
    src: url('http://demo.themepixels.com/webpage/shamcey/fonts/roboto/Roboto-BoldCondensed-webfont.eot');
    src: url('../fonts/roboto/Roboto-BoldCondensed-webfont.eot') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-BoldCondensed-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-BoldCondensed-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-BoldCondensed-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBoldCondensedItalic';
    src: url('http://demo.themepixels.com/webpage/shamcey/fonts/roboto/Roboto-BoldCondensedItalic-webfont.eot');
    src: url('../fonts/roboto/Roboto-BoldCondensedItalic-webfont.eot') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-BoldCondensedItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-BoldCondensedItalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-BoldCondensedItalic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoThin';
    src: url('http://demo.themepixels.com/webpage/shamcey/fonts/roboto/Roboto-Thin-webfont.eot');
    src: url('../fonts/roboto/Roboto-Thin-webfont.eot') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Thin-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Thin-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Thin-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoThinItalic';
    src: url('http://demo.themepixels.com/webpage/shamcey/fonts/roboto/Roboto-ThinItalic-webfont.eot');
    src: url('../fonts/roboto/Roboto-ThinItalic-webfont.eot') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-ThinItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-ThinItalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-ThinItalic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoLight';
    src: url('http://demo.themepixels.com/webpage/shamcey/fonts/roboto/Roboto-Light-webfont.eot');
    src: url('../fonts/roboto/Roboto-Light-webfont.eot') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Light-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoLightItalic';
    src: url('http://demo.themepixels.com/webpage/shamcey/fonts/roboto/Roboto-LightItalic-webfont.eot');
    src: url('../fonts/roboto/Roboto-LightItalic-webfont.eot') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-LightItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-LightItalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-LightItalic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoMedium';
    src: url('http://demo.themepixels.com/webpage/shamcey/fonts/roboto/Roboto-Medium-webfont.eot');
    src: url('../fonts/roboto/Roboto-Medium-webfont.eot') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Medium-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Medium-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Medium-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoMediumItalic';
    src: url('http://demo.themepixels.com/webpage/shamcey/fonts/roboto/Roboto-MediumItalic-webfont.eot');
    src: url('../fonts/roboto/Roboto-MediumItalic-webfont.eot') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-MediumItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-MediumItalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-MediumItalic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBlack';
    src: url('http://demo.themepixels.com/webpage/shamcey/fonts/roboto/Roboto-Black-webfont.eot');
    src: url('../fonts/roboto/Roboto-Black-webfont.eot') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-Black-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-Black-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-Black-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'RobotoBlackItalic';
    src: url('http://demo.themepixels.com/webpage/shamcey/fonts/roboto/Roboto-BlackItalic-webfont.eot');
    src: url('../fonts/roboto/Roboto-BlackItalic-webfont.eot') format('embedded-opentype'),
         url('../fonts/roboto/Roboto-BlackItalic-webfont.woff') format('woff'),
         url('../fonts/roboto/Roboto-BlackItalic-webfont.ttf') format('truetype'),
         url('../fonts/roboto/Roboto-BlackItalic-webfont.svg') format('svg');
    font-weight: normal;
    font-style: normal;

}

